@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: #ffffff;
    padding: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}

.user-info {
    font-size: 1.2rem;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 1rem;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.main-content {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 1rem;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border: 1px solid #f5c6cb;
}
.search-download-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* esto asegura que los elementos estén alineados verticalmente */
    margin-bottom: 1rem; /* espacio debajo del wrapper */
}
td a {
    display: inline-block;
    background-color: #007BFF;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
    transition: background-color 0.3s ease;
}

td a:hover {
    background-color: #0056b3;
}

/* Puedes usar diferentes colores para diferentes acciones */
td a:nth-child(2) {
    background-color: #28a745;
}

td a:nth-child(2):hover {
    background-color: #1e7e34;
}

td a:nth-child(3) {
    background-color: #dc3545;
}

td a:nth-child(3):hover {
    background-color: #c82333;
}

td a:nth-child(4) {
    background-color: #ffc107;
}

td a:nth-child(4):hover {
    background-color: #e0a800;
}

td a:nth-child(5) {
    background-color: #17a2b8;
}

td a:nth-child(5):hover {
    background-color: #138496;
}